# WEB SCRAPING ‚Äì Selenium

1. Scrape the details of most viewed videos on YouTube from Wikipedia.



Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos



You need to find following details:



A) Rank



B) Name



C) Artist



D) Upload date




E) Views

In [2]:
#Lets import all the required libraries 
import selenium # Libraries that is used to work  with selenium
from selenium import webdriver # importing web driver module from selenium to open automated edge window
import pandas as pd # to create dataframe
from selenium.webdriver.common.by import By#importing inbuild class BY
import warnings #to ignore any sort warnings
warnings.filterwarnings('ignore')
import time# used to stop search engine for few seconds

In [3]:
import re
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

In [51]:
#First Connect to web driver 

driver = webdriver.Edge(r"D:\edgedriver_win64\msedgedriver.exe")
driver

In [52]:
url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos" # Here i am assigning the link in url name variable 
driver.get(url)

In [53]:
Rank=[]

In [54]:
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[1]')[:30]:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')

In [55]:
Name=[]

In [56]:
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[2]')[:30]:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')

In [57]:
Artist=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[3]')[:30]:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('-')

In [58]:
Upload_Date=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[5]')[:30]:
        Upload_Date.append(i.text)
except NoSuchElementException:
    Upload_Date.append('-')

In [59]:
Views=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[4]')[:30]:
        Views.append(i.text)
except NoSuchElementException:
    Views.append('-')

In [60]:
#Lets Make DataFrame
import pandas as pd

In [61]:
data=pd.DataFrame({'Rank':Rank,'Name':Name,"Artist":Artist,"Upload_Date":Upload_Date,"Views":Views})
data

,Rank,Name,Artist,Upload_Date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.74
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.01
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.53
3,4.,"""Shape of You""[15]",Ed Sheeran,"January 30, 2017",5.85
4,5.,"""Bath Song""[17]",Cocomelon ‚Äì Nursery Rhymes,"May 2, 2018",5.77
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.70
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.02
7,8.,"""Uptown Funk""[24]",Mark Ronson,"November 19, 2014",4.76
8,9.,"""Learning Colors ‚Äì Colorful Eggs on a Farm""[25]",Miroshka TV,"February 27, 2018",4.73
9,10.,"""Wheels on the Bus""[26]",Cocomelon ‚Äì Nursery Rhymes,"May 24, 2018",4.63
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.61
11,12.,"""Masha and the Bear ‚Äì Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.51
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.14
13,14.,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.78
14,15.,"""Roar""[35]",Katy Perry,"September 5, 2013",3.69
15,16.,"""Counting Stars""[36]",OneRepublic,"May 31, 2013",3.68
16,17.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.61
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.61
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.52
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon ‚Äì Nursery Rhymes,"June 25, 2018",3.43
20,21.,"""Dark Horse""[41]",Katy Perry,"February 20, 2014",3.40
21,22.,"""Faded""[42]",Alan Walker,"December 3, 2015",3.37
22,23.,"""Girls Like You""[43]",Maroon 5,"May 31, 2018",3.35
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.34
24,25.,"""Waka Waka (This Time for Africa)""[45]",Shakira,"June 4, 2010",3.31
25,26.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.30
26,27.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.30
27,28.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.29
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi ‚Äì Nursery Rhymes & Kids Songs,"January 26, 2018",3.23
29,30.,"""Shake It Off""[50]",Taylor Swift,"August 18, 2014",3.23

In [62]:
driver.close()

5. Scrape the details of trending repositories on Github.com.


Url = https://github.com/


You have to find the following details:


A) Repository title


B) Repository description


C) Contributors count



D) Language used

In [52]:
#First Connect to web driver 

driver = webdriver.Edge(r"D:\edgedriver_win64\msedgedriver.exe")
driver

In [53]:
url=" https://github.com/" # Here i am assigning the link in url name variable 
driver.get(url)

In [56]:
driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button").click()

In [57]:
driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a").click()

In [60]:
Repository_title=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="text-normal"]'):
        Repository_title.append(i.text)
except NoSuchElementException:
    Repository_title.append('-')

In [62]:
Repository_description=[]
try:
    for i in driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]'):
        Repository_description.append(i.text)
except NoSuchElementException:
    Repository_description.append('-')

In [43]:
Contributors_count=[]
try:
    for i in driver.find_elements(By.XPATH,"//a[@class='Link--muted d-inline-block mr-3'][1]"):
        Contributors_count.append(i.text)
except NoSuchElementException:
    Contributors_count.append('-')

In [71]:
Language_used=[]
try:
    for i in driver.find_elements(By.XPATH,"//span[@class='d-inline-block ml-0 mr-3']"):
        Language_used.append(i.text)
except NoSuchElementException:
    Language_used.append('-')
    time.sleep(5)

In [73]:
#Lets Make DataFrame
import pandas as pd

In [84]:
data=pd.DataFrame({"Repository_title":Repository_title,"Repository_description":Repository_description,"Contributors_count":Contributors_count,"Language_used":Language_used})
data

,Repository_title,Repository_description,Contributors_count,Language_used
0,invoke-ai /,This version of Stable Diffusion features a sl...,"6,419",Jupyter Notebook
1,apple /,Stable Diffusion with Core ML on Apple Silicon,"2,920",Python
2,AleoHQ /,A Decentralized Operating System for ZK Applic...,"2,032",Rust
3,misskey-dev /,üåé An interplanetary microblogging platform üöÄ,"3,494",TypeScript
4,Klipper3d /,Klipper is a 3d-printer firmware,"5,697",C
5,PKUFlyingPig /,ËÆ°ÁÆóÊú∫Ëá™Â≠¶ÊåáÂçó,"19,766",HTML
6,danielgross /,"ÁªèÊµéÂ≠¶‰∫∫(Âê´Èü≥È¢ë)„ÄÅÁ∫ΩÁ∫¶ÂÆ¢„ÄÅÂç´Êä•„ÄÅËøûÁ∫ø„ÄÅÂ§ßË•øÊ¥ãÊúàÂàäÁ≠âËã±ËØ≠ÊùÇÂøóÂÖçË¥π‰∏ãËΩΩ,ÊîØÊåÅepub„ÄÅmobi...",360,Go
7,hehonghui /,Book_4_„ÄäÁü©ÈòµÂäõÈáè„Äã | È∏¢Â∞æËä±‰π¶Ôºö‰ªéÂä†Âáè‰πòÈô§Âà∞Êú∫Âô®Â≠¶‰π†ÔºõÊú¨ÂÜåÊúâÔºå584ÂπÖÂõæÔºå81‰∏™‰ª£...,"2,113",CSS
8,Visualize-ML /,‚òï A practical event-driven microservices demo ...,894,Python
9,thangchung /,Personal CRM. Remember everything about your f...,"1,770",Go
10,monicahq /,Lean's LEDE source,"17,927",PHP
11,coolsnowwolf /,A collection of awesome resources related to t...,"24,018",C
12,Bogdanp /,"iOS 15.0-15.7.1 (semi-)tethered checkm8 ""jailb...","1,987",Shell
13,palera1n /,"The best way to start a full-stack, typesafe N...","1,309",TypeScript
14,t3-oss /,‰∏ñÁïå‰∏äÊúÄÁÆÄÂçïÁöÑTrojanÈÉ®ÁΩ≤ËÑöÊú¨Ôºå‰ªÖÈúÄ‰∏ÄË°åÂëΩ‰ª§Âç≥ÂèØÊê≠Âª∫‰∏ÄÂè∞‰ª£ÁêÜÊúçÂä°Âô®,"11,258",Shell
15,maplecool /,Node.js example app from the OpenAI API quicks...,143,JavaScript
16,openai /,Windows system utilities to maximize productivity,183,C#
17,microsoft /,Clean Architecture template for Golang services,"82,779",Go
18,evrone /,OpenZFS on Linux and FreeBSD,"3,924",C
19,openzfs /,Android app for streaming and downloading Movi...,"8,439",Kotlin
20,recloudstream /,üéÑStarter template for solving Advent of Code i...,"1,632",Rust
21,fspoettel /,A book series on JavaScript. @YDKJS on twitter.,141,CSS
22,getify /,Python example app from the OpenAI API quickst...,"161,855",Rust

In [85]:
driver.close()

6. Scrape the details of top 100 songs on billiboard.com.



Url = https:/www.billboard.com/



You have to find the following details:



A) Song name



B) Artist name



C) Last week rank



D) Peak rank



E) Weeks on board



Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [3]:
#First Connect to web driver 

driver = webdriver.Edge(r"D:\edgedriver_win64\msedgedriver.exe")
driver

In [4]:
url="https:/www.billboard.com/" # Here i am assigning the link in url name variable 
driver.get(url)

In [15]:
driver.find_element(By.XPATH,"//div[@class='u-overflow-hidden lrv-u-background-color-grey-lightest lrv-u-padding-t-150 u-padding-t-00@mobile-max u-padding-b-425@desktop-xl u-padding-b-325@tablet u-padding-b-250']").click()

In [23]:
driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/article/div[2]/div[1]/p[1]/a[2]").click()

In [70]:
Song_name=[]
try:
    for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3'):
        Song_name.append(i.text)
except NoSuchElementException:
    Song_name.append('-')
    time.sleep(5)

In [76]:
len(Song_name)

200

In [104]:
Artist_name=[]
try:
    for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/span'):
        Artist_name.append(i.text)
except NoSuchElementException:
    Artist_name.append('-')
    time.sleep(5)

In [105]:
Artist_name=Artist_name[0:-1:4]
len(Artist_name)

200

In [106]:
Peak_rank=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l u-font-size-32@tablet u-letter-spacing-0080@tablet"]'):
        Peak_rank.append(i.text)
except NoSuchElementException:
    Peak_rank.append('-')
    time.sleep(5)

In [108]:
len(Peak_rank)

200

In [124]:
Last_week_rank=[]
try:
    for i in driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]/span'):
        Last_week_rank.append(i.text)
except NoSuchElementException:
    Last_week_rank.append('-')
    time.sleep(5)

In [128]:
Last_week_rank=Last_week_rank[0:-1:2]
len(Last_week_rank)

200

In [147]:
Weeks_on_board=[]
try:
    for i in driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]/span'):
        Weeks_on_board.append(i.text)
except NoSuchElementException:
    Weeks_on_board.append('-')
    time.sleep(5)

In [150]:
Weeks_on_board=Weeks_on_board[1:400:2]
len(Weeks_on_board)

200

In [154]:
#Lets Make Dataframe
import pandas as pd
data=pd.DataFrame({"Song_name":Song_name,"Artist_name":Artist_name,"Peak_rank":Peak_rank,"Last_week_rank":Last_week_rank,"Weeks_on_board":Weeks_on_board})
data

,Song_name,Artist_name,Peak_rank,Last_week_rank,Weeks_on_board
0,Midnights,Taylor Swift,1,1,5
1,Her Loss,Drake & 21 Savage,2,2,3
2,Un Verano Sin Ti,Bad Bunny,3,3,29
3,It's Only Me,Lil Baby,4,4,6
4,Dangerous: The Double Album,Morgan Wallen,5,6,98
...,...,...,...,...,...
195,Dont Smile At Me,Billie Eilish,196,-,244
196,Get Rich Or Die Tryin',50 Cent,197,187,153
197,Shiesty Season,Pooh Shiesty,198,180,94
198,Man On The Moon: The End Of Day,Kid Cudi,199,175,254
199,Exile On Mainstream,matchbox twenty,200,-,37

In [155]:
driver.close()

3. Scrape the details of Data science recruiters from naukri.com.


Url = https://www.naukri.com/



You have to find the following details:



A) Name



B) Designation



C) Company


D) Skills they hire for



E) Location



Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [156]:
driver = webdriver.Edge(r"D:\edgedriver_win64\msedgedriver.exe")
driver

In [173]:
url="https://www.naukri.com/hr-recruiters-consultants" # Here i am assigning the link in url name variable 
driver.get(url)

In [174]:
user_input=input("Search What You Want")
user_input

Search What You WantData Science

'Data Science'

In [176]:
#Finding the web element for search "Data Analyst"
search_job=driver.find_element(By.XPATH,"//input[@class='sugInp']")
search_job.send_keys(user_input)

In [180]:
driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button").click()

In [181]:
Name=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]'):
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')
    time.sleep(5)

In [184]:
len(Name)

50

In [185]:
Designation=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]'):
        Designation.append(i.text)
except NoSuchElementException:
    Designation.append('-')
    time.sleep(5)

In [186]:
len(Designation)

50

In [187]:
Company=[]
try:
    for i in driver.find_elements(By.XPATH,'//a[@class="ellipsis"]'):
        Company.append(i.text)
except NoSuchElementException:
    Company.append('-')
    time.sleep(5)

In [195]:
Company=Company[1:100:2]
Company

In [197]:
Skill=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]'):
        Skill.append(i.text)
except NoSuchElementException:
    Skill.append('-')
    time.sleep(5)

In [198]:
len(Skill)

50

In [214]:
Location=[]
try:
    for i in driver.find_elements(By.XPATH,'//small[@class="ellipsis"]'):
        Location.append(i.text)
except :
    Location.append('Nan')
    time.sleep(5)

In [215]:
len(Location)

48

In [ ]:
#Lets Create DataFram

In [217]:
Name=Name[0:48]
len(Name)
Company=Company[0:48]
len(Company)

48

In [218]:
Skill=Skill[0:48]
len(Skill)

48

In [219]:
Designation=Designation[0:48]
len(Designation)

48

In [222]:
import pandas as pd
data=pd.DataFrame({"Name":Name,"Company":Company,"Designation":Designation,"Skill":Skill,"Location":Location})
data

,Name,Company,Designation,Skill,Location
0,Aakash Harit,Data Science Network,HR Manager,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Shore Infotech India Pvt. Ltd,Company Recruiter,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,MARSIAN Technologies LLP,Company HR,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Enerlytics Software Solutions Pvt Ltd,Company Recruiter,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,LibraryXProject,Founder CEO,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Apidel Technologies Division of Transpower,Recruitment Lead Consultant,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,IFMR,Programme Manager,Data Science,Chennai
7,Balu Ramesh,Techvantage Systems Pvt Ltd,HR Administrator,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Weupskill- Live Wire India,Director,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,CBL Data Science Private Limited,Human Resource,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Innominds Software,Executive Hiring,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,MoneyTap,Company HR,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,QuantMagnum Technologies Pvt. Ltd.,Company HR,"Office Administration, Hr Administration, tele...",Mumbai
13,Mahesh Babu Channa,SocialPrachar.com,HR Team Lead,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
14,Vaishnavi Kudalkar,Codeachive learning,HR Executive,"Data Science, Python, Data Analytics",Mumbai
15,Priyanka Akiri,Infinitive Software Solutions,HR Manager,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
16,Kapil Devang,BISP Solutions,HR Manager,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Sakshi Chhikara,BIZ INFOTECNO PRIVATE LIMITED,Assistant Manager HR,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Bristlecone India Ltd,Senior Executive Talent Acquisition,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,Easi Tax,HR Executive,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Novelworx Digital Solutions,Manager Talent Acquisition,Data Science,Cochin
21,Rashmi Bhattacharjee,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,HR Head,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,FirstTech Consaltants Pvt.Ltd,HR MANAGER,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,Affine Analytics,HR Recruiter,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,Compumatrice Multimedia Pvt Ltd,HR Recruiter,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Exela Technologies,Manager Human Resources,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Azahar Shaikh,NEAL ANALYTICS SERVICES PVT LTD,Company Recruiter,"Data Science, Artificial Intelligence, Machine...",Pune
27,Manas,Autumn Leaf Consulting Services Private...,Lead Talent acquisition,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
28,kumar,trainin,Proprietor,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
29,Sunil Vedula,Nanoprecise Sci Corp,CEO,"Signal Processing, Machine Learning, Neural Ne...",Delhi
30,Rajat Kumar,R.S Consultancy &amp; Services,Founder CEO,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
31,Dhruv Dev Dubey,Confidential,Company Recruitment Head,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
32,Jayanth N,"Dollarbird Information Services Pvt, Ltd",Project Manager,"Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
33,SREEDHAR,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,Recruitment Consultant,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
34,Avodha,Nikitha Palaparthi,Business Development Associate,"Ethical Hacking, Security Operations Center, S...",Bengaluru / Bangalore
35,Priya Khare,Independent Consultant,Senior Manager,"Data Science, Artificial Intelligence, analyti...",New Delhi
36,Amit Sharma,ASCO consulting,Consultant,"Machine Learning, Artificial Intelligence, Dat...",Chennai
37,Kanan,NY INST,senior technology instructor,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
38,Shashikant Chaudhary,3D India Staffing Research &amp; Consulting...,HR Recruiter/HR Excutive,"Relationship Management, Retail Sales, Private...",Salt Lake City
39,Brad,O.C. Tanner,"Manager, Technical Recruiting","Data Science, Software Engineering",Pune
40,Rutuja Pawar,Demand Matrix,Technical Recruiter,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
41,Madhusudhan Sridhar,MADHUSUDHAN SRIDHAR,Erp Implementer,"Data Science, Recruitment, Salary",Mumbai
42,Ankit Sinha,Suntech Global,Head Analytics,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
43,Gaurav Chouhan,Strategic Consulting Lab,Chief Technical Officer,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
44,Rashi Kacker,Impel Labs Pvt. Ltd.,Sr Product Manager,"Data Science, Node.js, Angularjs",MYSORE
45,Ashwini,MRP Advisers,Director Global Delivery,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
46,Balaji Kolli,Saras Solutions India Pvt Ltd,Co Founder,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
47,Rajani Nagaraj,WildJasmine,HR Manager,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai

In [223]:
driver.close()

8. Scrape the details of Highest selling novels.



Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/



You have to find the following details:



A) Book name



B) Author name




C) Volumes sold




D) Publisher




E) Genre

In [66]:
driver = webdriver.Edge(r"D:\edgedriver_win64\msedgedriver.exe")
driver

In [67]:
url="https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare " # Here i am assigning the link in url name variable 
driver.get(url)

In [71]:
Book_name=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody//tr//td[2]'):
        Book_name.append(i.text)
except NoSuchElementException:
    Book_name.append('-')
    time.sleep(5)

In [73]:
len(Book_name)

100

In [74]:
Author_name=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody//tr//td[3]'):
        Author_name.append(i.text)
except NoSuchElementException:
    Author_name.append('-')
    time.sleep(5)

In [76]:
len(Author_name)

100

In [77]:
Volumes_sold=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody//tr//td[4]'):
        Volumes_sold.append(i.text)
except NoSuchElementException:
    Volumes_sold.append('-')
    time.sleep(5)

In [80]:
len(Volumes_sold)

100

In [81]:
Publisher=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody//tr//td[5]'):
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append('-')
    time.sleep(5)

In [82]:
len(Publisher)

100

In [83]:
Genre=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody//tr//td[6]'):
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('-')
    time.sleep(5)

In [84]:
#Lets make dataframe
import pandas as pd
data=pd.DataFrame({'Book_name':Book_name,"Author_name":Author_name,"Volumes_sold":Volumes_sold,"Publisher":Publisher,"Genre":Genre})
data

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [85]:
driver.close()

9. Scrape the details most watched tv series of all time from imdb.com.



Url = https://www.imdb.com/list/ls095964455/



You have to find the following details:


A) Name



B) Year span



C) Genre



D) Run time



E) Ratings




F) Vote

In [6]:
driver = webdriver.Edge(r"D:\edgedriver_win64\msedgedriver.exe")
driver

In [7]:
url="https://www.imdb.com/list/ls095964455/" # Here i am assigning the link in url name variable 
driver.get(url)

In [12]:
Name=[]
try:
    for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']//a"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')
    time.sleep(5)

In [14]:
len(Name)

100

In [15]:
Year_span=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]'):
        Year_span.append(i.text)
except NoSuchElementException:
    Year_span.append('-')
    time.sleep(5)

In [16]:
len(Year_span)

100

In [24]:
Genre=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="genre"]'):
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('-')
    time.sleep(5)

In [25]:
len(Genre)

100

In [21]:
Run_time=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="runtime"]'):
        Run_time.append(i.text)
except NoSuchElementException:
    Run_time.append('-')
    time.sleep(5)

In [22]:
len(Run_time)

100

In [28]:
Ratings=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]//span[2]'):
        Ratings.append(i.text)
except NoSuchElementException:
    Ratings.append('-')
    time.sleep(5)

In [30]:
len(Ratings)

100

In [31]:
Vote=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@name="nv"]'):
        Vote.append(i.text)
except NoSuchElementException:
    Vote.append('-')
    time.sleep(5)

In [34]:
len(Vote)

100

In [35]:
#Lets make datafram
import pandas as pd
data=pd.DataFrame({"Name":Name,"Year_span":Year_span,"Genre":Genre,"Run_time":Run_time,"Ratings":Ratings,"Vote":Vote})
data

,Name,Year_span,Genre,Run_time,Ratings,Vote
0,Game of Thrones,(2011‚Äì2019),"Action, Adventure, Drama",57 min,9.2,"2,089,522"
1,Stranger Things,(2016‚Äì ),"Drama, Fantasy, Horror",51 min,8.7,"1,179,120"
2,The Walking Dead,(2010‚Äì2022),"Drama, Horror, Thriller",44 min,8.1,"988,631"
3,13 Reasons Why,(2017‚Äì2020),"Drama, Mystery, Thriller",60 min,7.5,"292,802"
4,The 100,(2014‚Äì2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"251,946"
...,...,...,...,...,...,...
95,Reign,(2013‚Äì2017),Drama,42 min,7.4,"50,170"
96,A Series of Unfortunate Events,(2017‚Äì2019),"Adventure, Comedy, Drama",50 min,7.8,"61,437"
97,Criminal Minds,(2005‚Äì ),"Crime, Drama, Mystery",42 min,8.1,"198,248"
98,Scream: The TV Series,(2015‚Äì2019),"Comedy, Crime, Drama",45 min,7.1,"41,571"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"245,149"

In [38]:
driver.close()

10. Details of Datasets from UCI machine learning repositories.


Url = https://archive.ics.uci.edu/


You have to find the following details:


A) Dataset name


B) Data type


C) Task


D) Attribute type


E) No of instances


F) No of attribute


G) Year


Note: - from the home page you have to go to the ShowAllDataset page through code

In [39]:
driver = webdriver.Edge(r"D:\edgedriver_win64\msedgedriver.exe")
driver

In [41]:
url="https://archive.ics.uci.edu/" # Here i am assigning the link in url name variable 
driver.get(url)

In [43]:
driver.find_element(By.XPATH,'//td//span[2][@class="whitetext"]//a').click()

In [46]:
Dataset_name=[]
try:
    for i in driver.find_elements(By.XPATH,'//p[@class="normal"]//b//a'):
        Dataset_name.append(i.text)
except NoSuchElementException:
    Dataset_name.append('-')
    time.sleep(5)

In [49]:
len(Dataset_name)

622

In [50]:
Data_type=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[3]//p[@class="normal"]'):
        Data_type.append(i.text)
except NoSuchElementException:
    Data_type.append('-')
    time.sleep(5)

In [51]:
len(Data_type)

622

In [52]:
Task=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[4]//p[@class="normal"]'):
        Task.append(i.text)
except NoSuchElementException:
    Task.append('-')
    time.sleep(5)

In [53]:
len(Task)

622

In [54]:
Attribute_type=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[4]//p[@class="normal"]'):
        Attribute_type.append(i.text)
except NoSuchElementException:
    Attribute_type.append('-')
    time.sleep(5)

In [55]:
len(Attribute_type)

622

In [56]:
No_of_instances=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[5]//p[@class="normal"]'):
        No_of_instances.append(i.text)
except NoSuchElementException:
    No_of_instances.append('-')
    time.sleep(5)

In [57]:
len(No_of_instances)

622

In [58]:
No_of_attribute=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[6]//p[@class="normal"]'):
        No_of_attribute.append(i.text)
except NoSuchElementException:
    No_of_attribute.append('-')
    time.sleep(5)

In [59]:
len(No_of_attribute)

622

In [60]:
Year=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[7]//p[@class="normal"]'):
        Year.append(i.text)
except NoSuchElementException:
    Year.append('-')
    time.sleep(5)

In [61]:
len(Year)

622

In [62]:
#Lets Make DataFrame
import pandas as pd
data=pd.DataFrame({"Dataset_name":Dataset_name,"Data_type":Data_type,"Task":Task,"Attribute_type":Attribute_type,"No_of_instances":No_of_instances,"No_of_attribute":No_of_attribute,"Year":Year})
data

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Abalone,Classification,"Categorical, Integer, Real","Categorical, Integer, Real",4177,8,1995
1,Adult,Classification,"Categorical, Integer","Categorical, Integer",48842,14,1996
2,Annealing,Classification,"Categorical, Integer, Real","Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,Recommender-Systems,Categorical,Categorical,37711,294,1998
4,Arrhythmia,Classification,"Categorical, Integer, Real","Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Classification,"Integer, Real","Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Classification,"Integer, Real","Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,Classification,,,1014,7,2020
620,Room Occupancy Estimation,Classification,Real,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Regression,Real,Real,4000,2,2021

In [63]:
driver.close()

In [1]:
#AI Engineer (R&D)
#Date -> 03-March-2024
#Time-> 11:36 AM